body {
	font-size: 14px !important;
	line-height: 21px;
}

.navlinks {
	font-family: 'century gothic';
	color: #aaaaaa !important;
	text-decoration: none;
	font-size: 1.5em;
	padding-right: 0.6em;
}

.navlinks:hover {
	color: #111111 !important;
}

.righty {
	margin-top: 70px;
}

#contents4all {
	margin-top: 5px;
	min-height: 417px;
}

.socialicons {
	display: inline;
	padding-top: 10px;
   	height: 30px;
}